<div>
    <button class="btn info" ng-click="sortedGender('male')">Male</button>
    <button class="btn info" ng-click="sortedGender('female')">Female</button>

    <div>
        <table ng-table="usersTable">
            <tr>
                <th ng-click="sortData('firstName')">
                    First Name
                    <div ng-class="getSortClass('firstName')"></div>
                </th>
                <th ng-click="sortData('lastName')">
                    Last Name
                    <div ng-class="getSortClass('lastName')"></div>
                </th>
                <th ng-click="sortData('email')">
                    Email
                    <div ng-class="getSortClass('email')"></div>
                </th>
                <th ng-click="sortData('country')">
                    Country
                    <div ng-class="getSortClass('country')"></div>
                </th>
                <th ng-click="sortData('phone')">
                    Phone
                    <div ng-class="getSortClass('phone')"></div>
                </th>
            </tr>
            <tr ng-repeat="users in usersList | orderBy:sortColumn:reverseSort | startFrom: currentPage * pageSize | limitTo: pageSize">
                <td ng-click="userDetails(users)">{{ users.firstName }}</td>
                <td ng-click="userDetails(users)">{{ users.lastName }}</td>
                <td ng-click="userDetails(users)">{{ users.email }}</td>
                <td ng-click="userDetails(users)">{{ users.country }}</td>
                <td ng-click="userDetails(users)">{{ users.phone }}</td>
                <td ng-click="userDetails(users)">
                    <img src="{{ users.imageSmall }}" alt="Avatar" class="avatar">
                </td>
                <td ng-click="deleteItem(users.id)">
                    <button class="btn info">delete</button>
                </td>
            </tr>
        </table>
        <div>
                <div class="pagination">
                    <button class="btn info" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                        Previous
                    </button>
                    {{currentPage+1}}/{{numberOfPages()}}
                    <button class="btn info" ng-disabled="currentPage >= usersList.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                        Next
                    </button>
                </div>
        </div>
        
    </div>
</div>